
@{
    ViewData["Title"] = "NotFoundOrDeleted";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="d-flex text-center align-items-center justify-content-center">
    <div class="col-6">
        <h3 class="card-title align-content-center justify-content-center myPoseBlack" style="padding:12px;">پیدا نشد</h3>
        <h4 class="card-subtitle align-content-center justify-content-center myPoseBlack" style="padding:12px;">احتمالا حذف شده است</h4>
    </div>
</div>

