@model BadamApplicationAndForum.Data.ViewModels.MessageReplyCreateViewModel

@{
    ViewData["Title"] = "Reply";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Reply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reply" class="control-label"></label>
                <textarea asp-for="Reply" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Reply" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="ایجاد" class="btn btn-default btn-rounded" />
                </div>
                <a class="mr-2 btn text-danger" asp-action="Index">بازگشت</a>
            </div>
        </form>
    </div>
</div>


