@model BadamApplicationAndForum.Data.ViewModels.AlarmCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/persianDatepicker-default.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" autocomplete="off" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" autocomplete="off" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <select asp-for="UserName" asp-items="Model.UserNames" class="form-control"></select>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="text" asp-for="Date" class="form-control" id="date" autocomplete="off" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="ایجاد" class="btn btn-info btn-rounded" />
                </div>
                <a class="mr-2 btn text-danger" asp-action="Index">بازگشت</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script src="~/js/persianDatepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //usage
            $("#date").persianDatepicker();
        });
    </script>

}